/Tp2/nbproject/private/
/repasoA/nbproject/private/
/repasoA/build/
/repasoB/nbproject/private/
/repasoB/build/
/repasoC/nbproject/private/
/repasoC/build/
/ExtrasG1/nbproject/private/
/ExtrasG1/build/
/Guia3/nbproject/private/
/Guia3/build/
/ExtrasG3/nbproject/private/
/ExtrasG3/build/
/Guia4/Guia4/nbproject/private/
/Guia4/nbproject/
/Guia4/build/
